$popoverHoverColor: #5a70b0;
$popoverBorderColor: #666;
$popoverBackgroundColor: #fff;

.popover {
  display: inline-block;
  position: relative;

  &:hover ul {
    padding: 4px 0 6px;
    visibility: visible;
    opacity: 1;
  }

  ul { // default top
    background: $popoverBackgroundColor;
    border: 1px solid;
    border-color: $popoverBorderColor;
    border-radius: 5px;
    bottom: 100%;
    box-shadow: inset 0 0 0 1px rgba(white, .9), 0 1px 2px rgba(black, .1);
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all .2s ease-out;
    visibility: hidden;
    z-index: 999;
  
    &:before, &:after, li:first-child:after { // Arrow
      border: 7px outset transparent;
      content: '';
      display: block;
      height: 0;
      left: 15px;
      position: absolute;
      width: 0;
    }

    &:before { // Arrow border
      bottom: -14px;
      border-top: 7px solid $popoverBorderColor;
    }

    &:after { // Arrow background
      bottom: -12px;
      border-top: 7px solid $popoverBackgroundColor;
    }
  }

  &.right, &.left{
    float: none;
  }
  &.bottom ul{
    bottom:auto;
    left:0;
    right:0;
    top:100%;

    &:before, &:after, li:first-child:after { // Arrow
      border-top: 7px solid transparent;
      bottom: 0;
      left: 50%;
      right: 0;
      top: 0;
      transform: translateX(-50%);
    }
    &:before { // Arrow border
      border-bottom: 7px solid $popoverBorderColor;
      bottom: 0;
      top: -14px
    }
    &:after { // Arrow background
      border-bottom: 7px solid $popoverBackgroundColor;
      bottom: 0;
      top: -12px
    }
  }
  &.left ul{
    bottom: auto;
    left: auto;
    margin-right: 14px;
    right: 100%;
    top: -100%;

    &:before, &:after, li:first-child:after { // Arrow
      border-top: 7px solid transparent;
      bottom: 0;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before { // Arrow border
      border-left: 7px solid $popoverBorderColor;
      bottom: 0;
      left: auto;
      right: -14px;
    }
    &:after { // Arrow background
      border-left: 7px solid $popoverBackgroundColor;
      ottom: 0;
      left: auto;
      right: -12px;
    }
  }
  &.right ul{
    bottom: auto;
    left: 100%;
    margin-left: 10px;
    right: auto;
    top: 0;
    transform: translateY(-50%);

    &:before, &:after, li:first-child:after { // Arrow
      border-top: 7px solid transparent;
      bottom: 0;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before { // Arrow border
      border-right: 7px solid $popoverBorderColor;
      bottom: 0;
      left: -14px
    }
    &:after { // Arrow background
      border-right: 7px solid $popoverBackgroundColor;
      bottom: 0;
      left: -12px
    }
  }

  li:first-child:after { // Arrow inner shadow
    bottom: -13px;
    border-top: 7px solid white;
  }

  li {
    padding: 0 12px;

    a {
      display: block;
      position: relative;
      margin: 0 -13px;
      padding: 0 20px 0 12px;
      text-decoration: none;
      border: 1px solid transparent;

      &:hover {

        &:after { 
          display: block; 
        }
      }
    }
  }
}