.radio {
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }

  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    border-radius: 50%;
    background: #f8f8f8;
    border: 1px solid #aaa;
    content: '';
    height: 17px;
    left:0; 
    position: absolute;
    top: .5em;
    width: 17px; 
  }
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    color: #09ad7e;
    content: '✔';
    font-size: 18px;
    left: 4px;
    line-height: 0.8;
    position: absolute;
    top: .5em;
    transition: all .2s;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  [type="radio"]:disabled:not(:checked) + label:before,
  [type="radio"]:disabled:checked + label:before {
    border-color: #bbb;
    background-color: #ddd;
  }
  [type="radio"]:disabled:checked + label:after {
    color: #999;
  }
  [type="radio"]:disabled + label {
    color: #aaa;
  }
  [type="radio"]:checked:focus + label:before,
  [type="radio"]:not(:checked):focus + label:before {
    border: 1px dotted #09ad7e;
  }

  label:hover:before {
    border: 1px solid #09ad7e !important;
  }
}
