html, body {
  display: flex;
  height: 100%;
  width: 100%;
}
::selection {
    background: lighten($orange-regular, 10%);
    color: $white-regular;
}
.hamburger {
  color: $white-regular;
  cursor: pointer;
  font-size: 2em;
  left: 26rem;
  padding: 1rem;
  position: absolute;
  top: 1.5rem;
  z-index: 9;
  
  @include transition(all);
  
   &:before {
    content:'\00ab';
  }
}
.sidebar {
  background-color: $grey-darker;
  color: $font-color-light;
  min-width: 25%;
  min-height: 100%;
  padding: 2rem 0;
  position: fixed;
  width: 25%;
  
  @include transition(all);
  
  .title {
    text-align: center;
    font-weight: 300;
    
    @include wrap-ellipsis;
  }
  
  &.collapsed {
    transform: translateX(-100%);
    
    &.right {
      transform: translateX(100%);
    }
    &.up {
      transform: translateY(-100%);
    }
    &.down {
      transform: translateY(100%);
    }
    
    .hamburger {
      color: $black-regular;
      right: -4rem;
      left: auto;
      top: 1rem;
      
      &:before {
        content: '\2630'
      }
    }
  }
}
.content {
  margin-bottom: 2em;
  margin-left: 25%;
  padding: 1rem;
  width: 75%;
}
